/* Footer */
.footer .mbox .logo-wrap {
  float: left;
}

.footer .mbox .socials-wrap {
  float: left;
}

.footer .mbox .socials-wrap .copy-right p {
  text-align: center;
}

.footer .mbox .worcked-wrap {
  float: right;
}

/* /Footer*/
