.header_wrapper{
    .header_top{background-color: #fff;
        .mbox>div{display: inline-block;vertical-align: middle;}
        .head-logo{padding-top: 10px;padding-left: 10px;}
        .header-mail{
            a{text-decoration: none;font-size: 16px;}
            .icon-mail{}
        }
    }
    .header_bottom{background-color: #d3a664;}
}