.header_wrapper{
    .header_top{background-color: #fff;
        .mbox>div{display: inline-block;vertical-align: middle;}
        .head-logo{padding-top: 10px;padding-left: 10px;padding-right: 40px;}
        .header-mail{
            a{text-decoration: none;font-size: 16px;}
            .icon-mail{width: 15px;height: 11px;display: inline-block;background: url('../images/head_mail.png') center center no-repeat;}
        }
    }
    .header_bottom{background-color: #d3a664;}
}