.block3-wrap{box-sizing: border-box; width: 100%; height: 420px; background-image: url('/images/block3-background.png');
    .block3{ max-width: 960px; margin: 0 auto; text-align: center;
        .block3-header{ font-family: Lora; font-size: 36px;margin: 0 auto; padding-top: 33px; line-height: 42px;  }
        .block3-convert{margin: 0 auto; padding-top: 40px;
            .block3-item{ display: inline-block; width: 25%;  margin-left: -4px; vertical-align: top; }
            .block3-item:first-child{margin-left: 0;}
            .text-content{ font-size: 18px; padding-top: 25px;}
        }
    }
}